body{
    /* blank slate */
    padding: 0;
    margin: 0;


    font-family: 'Silkscreen', cursive;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

    color: #fff;
}

html{
    scroll-behavior: smooth;
}

/* making scrollbar   */
body::-webkit-scrollbar {
    width: 0px;
}

video{
    margin: auto;
    /* height: 50%; */
    /* width: 100%; */
    z-index: -1;
    border-bottom: 1rem;
}

.main{
    /* background-color: cyan; */
    
    position: absolute;
    top: 0;
    height: 140vh;
    width: 100%;

    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
nav{
    /* background-color: brown; */

    width: 100%;
    height: 10vh;
    /* margin-top: -20vh; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo-section-container{
    /* background-color: aqua; */

    width: 40%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* .logo-section-container > img{
    /* background-color: yellow; */

    /* height: 65%; */
    /* width: auto; */
    /* padding: 0.5rem; */
/* } */ 

.logo{
    font-size: 2rem !important;
    animation: 1.8s rotate;
   

}

.logo-text{
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: .2rem;
}

@keyframes rotate {
    from{
        transform: rotate(0deg) scale(.5); 
       
    }
    to{
        transform: rotate(360deg) scale(1); 
        
    }
}

.logo-section-container > a{
    /* background-color: bisque; */

    padding: 1rem;
    color: inherit;
    text-decoration: none;
}
.nav-items-container{
    /* background-color: gold; */

    width: 22%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items-container > a{
    color: inherit;
    text-decoration: none;
}

.content{
    /* background-color: greenyellow; */
    
    height: 70vh;
    width: 100%;
    /* margin-top: -5vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.content > h1{
    /* background-color: brown; */

    /* margin-bottom: 10rem; */
    font-size: 6rem;
    animation: 3s fade-in;
}
.content > p{
    background-color: #A7FF19;
    font-size: 1.5rem;
    margin-top: 3rem;
    padding: 1rem;
    color: #fff;
    /* padding: 3rem ;
    padding-bottom: 0; */
    font-style: italic;
    /* border-bottom: .4rem solid #FDDA0D; */
    /* border-radius: .4rem; */
    font-weight: 700;
}
@keyframes fade-in {
    from{opacity: 0; transform: scale(.9 );}
    to{opacity: 1; transform: scale(1);}
}

.strikeout{
    border-bottom: .8rem solid #FDDA0D;
}

.scroll-section{
    /* background-color: cornflowerblue; */

    height: 10vh;
    width: 100%;
    margin-top: 9vh;
    /* margin-bottom: -15vh; */
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.scroll-below{
    /* background-color: burlywood; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* position: relative; */
    padding: 1rem;
    /* top: 18rem; */
    /* margin-bottom: 15vh; */
    
    /* font-size: 3.5rem !important; */
}
.scroll-logo{
    /* background-color: chartreuse; */

    font-size: 3rem !important;
    /* margin: auto; */
    /* margin-bottom: 1rem; */
  
}

.scroll-text{
    animation: float 1.5s infinite;
    display: hidden;
}

.scroll-below > a{
    text-decoration: none;
    color: inherit;
}

@keyframes float {
    0%{
        padding: .5rem;
    }
    50%{
        padding: 0rem;
    }
    100%{
        padding: .5rem;
    }

}
/* 
.strikeout {

    position: relative;
}

.strikeout::after {
    border-bottom: 2.1rem solid #FDDA0D;
    content: "";
    left: 0;
    line-height: 1em;
    margin-top: calc(0.005em / 2 * -1);
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -1;
    border-radius: .25rem;
    /* opacity: ; */
/* } */


.space-facts{
    /* background-color: blueviolet; */
    
    /* position: absolute; */
    width: 90%;
    height: 20vh;
    
    /* margin-bottom: 20vh !important; */
    /* margin-top: 25vh; */
    margin-bottom: 10vh;
    /* padding: 1rem; */
    z-index: 1;
    margin-left: auto !important;
    margin-right: auto !important;
    inset: 50% !important;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
    border-radius: .8rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 20px 23px 0px rgba(0,0,0,0.1);

}

.space-facts-inner{
    /* background-color: darkblue; */

    width: 80%;
    height: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.fact{
    /* background-color: cadetblue; */

    height: 60%;
    width: 25%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 1rem;
    /* border-radius: .3rem; */

    color: black;
    /* background-color: #fff; */
    padding: 1rem;
    /* border-right: #50504e solid .1rem; */

    
}

.vert_line{
    border-right: #50504e solid .1rem;
}

.fact-title{
    /* background-color: chartreuse; */
    height: 35%;
    
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    color: #50504e;
    letter-spacing: .1rem;
    font-weight: 500;

    


}

.fact-info{
    /* background-color: coral; */
    font-size: 1.2rem;
}

footer{
    background-color: rgb(0, 0, 0);

    position: fixed;
    margin-bottom: 0;
    height: 30vh;
    width: 100%;
    z-index: 2;
}

.buffer_div{
    /* position: inherit; */
    height: 15vh;
    width: 100vw;

    /* background-color: antiquewhite; */
}
.footer{
    /* background-color:tomato; */

    height: 80vh;
    width: 100VW;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.num{
    /* background-color: darkgreen; */
    font: 800 40px system-ui;
    font-size: 1.2rem;
    font-weight: 300;
}


.carousel-inner{
    /* background-color: aqua; */
    
    height: 80vh;
    width: 100%;
}

.carousel-indicators{
    /* background-color: green; */
    /* height: 5vh; */
}

.carousel-indicators > button{
    background-color: rgb(172, 169, 169) !important;
    /* height: .4vh !important; */

}
.carousel-indicators > button:active{
    background-color: rgb(202, 39, 39) !important;

}

.carousel-control-prev, .carousel-control-next{
    /* background-color: #50504e; */
    width: 6%;
}
.carousel-item{

    /* background-color: #FDDA0D; */

    height: 100%;
    width: 100%;

    
}

.recent-news-container{
    /* background-color: pink; */

    height: 90%;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.recent-news-img-container{
    /* background-color: cadetblue; */

    height: 80%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: stretch;

}


.recentNewsImg{
    
    max-width: 100%;
    /* max-height: 100%; */
    height: 100%;
    width: auto;
    /* height: auto; */
    border-radius: 1rem;
    object-fit:cover;

}
.recent-news-text-container{
    /* background-color: crimson; */

    height: 85%;
    width: 50%;

    display: flex;
    /* align-items: center; */
    flex-direction: column;


}


.recentNewsHeading{
    color: black;
    font-size: 1.5rem;

    display: flex;
}

.recentNewsHeading > span{
    font-size: 1.9rem;
    padding-right: .5rem;
    color: #ebc803;
}

.recentNewsTitle{

    font-size: 4rem;
    line-height: 4rem;
    color: black;
}

.recentNewsDesc{
    padding-right: 2rem;
    font-size: 1.2rem;
    color: #3b3b3a;
}

.recentNewsReadNow{
    text-decoration: none !important;
    
    width: 10vw;
    /* max-width: 12vw; */
    display: flex;
    justify-content: center;
    align-items: center;

    /* text-align: center; */
    background-color: #FDDA0D;
    padding: 1rem;
    color: white;
    font-weight: bold;

}
.recentNewsReadNow:hover{
    transition: .5s;
    background-color: black;
    color: white;

}

.carousel-control-icon{
    /* background-color: #3b3b3a; */
    color: #3b3b3a;
    
}

.pod-section-container{
    /* background-color: #3b3b3a; */

    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    color: #3b3b3a;

}

.pod-heading-container{
    /* background-color: pink; */

    height: 15%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    
}

.pod-heading-inner{
    /* background-color: red; */
    display: flex;

    height: 90%;
}
.pod-heading-inner > p{
    border-bottom: 0.8rem solid #FDDA0D;
    padding: 0;
    margin: 0;
    
}

.pod-heading-inner > img{
    /* background-color: #3b3b3a; */
    height: 100%;
    width: auto;
    
    
}

.pod-img-section{
    /* background-color: orange; */

    height: 65%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.pod-img-section > img{
    height: 90%;
    width: auto;

    border-radius: .8rem;
    box-shadow: 0px 20px 23px 0px rgba(0,0,0,0.1);
    animation: 2s fade-in;
    

}

.pod-desc-section{
    /* background-color: aquamarine; */

    height: 10%;
    width: 80%;
    padding: z;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.podImgTitle{
    font-size: 2.5rem;
}

.horizontal-line-container{
    /* background-color: #3b3b3a; */

    height: 15vh;
    width: 75%;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    
}


.horizontal-line{
    background-color: grey;

    height: 3%;
    width: 100%;
    margin: auto;
    
}



.footer{
    /* background-color:tomato; */

    height: 25vh;
    width: 100VW;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    flex-direction: column;
    color: #fff;
    
   
/* background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 22%, rgba(33,33,33,1) 50%, rgba(45,45,45,1) 65%, rgba(107,107,107,1) 81%, rgba(190,190,190,1) 93%, rgba(219,219,219,1) 100%); */

background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.logo-footer{
    /* background-color: #3b3b3a; */

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    
}
.logo-footer > a{
    padding-left: .5rem;
    text-decoration: none;
    color: inherit;
}


.social{
    /* background-color: #3b3b3a; */

    height: 5vh;
    width: 15%;
    display: flex;
    justify-content: space-evenly;

    font-size: 1.3rem;
    

}

.social > a{
    text-decoration: none;
    color: inherit;
}

.spacefolk-container{
    /* background-color: #cfcf33; */

    height: 70vh;
    width: 90%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.spacefolk-graphic-container{
    /* background-color: indianred; */

    height: 90%;
    width: 50%;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.spacefolk-graphic-container img{
    height: auto;
    width: 100%;

}

.spacefolk-desc-container{
    /* background-color: #A7FF19; */

    height: 90%;
    width: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

.folk1, .folk2{
    /* background-color: #361da5; */
    
    height: 100%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 5rem;
}
.spacefolk-desc-container p{
    font-size: 2rem;
    font-weight: 500;
    padding: 0;
    margin: .2rem;


}