body{
    /* blank slate */
    padding: 0;
    margin: 0;


    font-family: 'Silkscreen', cursive;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

    color: #fff;
}

/* making scrollbar   */
body::-webkit-scrollbar {
    width: 0px;
}

video{
    height: 100%;
    width: 100%;
    z-index: -1;
}

.main{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
}
nav{
    /* background-color: brown; */

    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo-section-container{
    /* background-color: aqua; */

    width: 40%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* .logo-section-container > img{
    /* background-color: yellow; */

    /* height: 65%; */
    /* width: auto; */
    /* padding: 0.5rem; */
/* } */ 

.logo{
    font-size: 2rem !important;
    animation: 1.8s rotate;
   

}

@keyframes rotate {
    from{
        transform: rotate(0deg) scale(.5); 
       
    }
    to{
        transform: rotate(360deg) scale(1); 
        
    }
}

.logo-section-container > a{
    /* background-color: bisque; */

    padding: 1rem;
    color: inherit;
    text-decoration: none;
}
.nav-items-container{
    /* background-color: gold; */

    width: 22%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items-container > a{
    color: inherit;
    text-decoration: none;
}

.content{
    /* background-color: greenyellow; */
    
    height: 60vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content > h1{
    font-size: 5rem;
}

.space-facts{
    /* background-color: blueviolet; */

    width: 90%;
    height: 10vh;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    /* background-color: #fff; */

}

.fact{
    /* background-color: cadetblue; */

    height: 100%;
    width: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 1rem;
    border-radius: .3rem;

    color: black;
    background-color: #fff;
    padding: 1rem;

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='400' height='100' preserveAspectRatio='none' viewBox='0 0 400 100'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1030%26quot%3b)' fill='none'%3e%3cpath d='M22.5 25C22.5 19.34 7.76 20.38 0 11.76C-3.49 7.88 -4 1.88 0 0C8.5 -4 12.5 0 25 0C37.5 0 37.5 0 50 0C62.5 0 62.5 0 75 0C81.69 0 82.15 -1.7 88.37 0C94.65 1.72 94.81 2.6 100 6.85C110.09 15.1 109.99 15.47 118.93 25C122.49 28.8 121.59 33.5 125 33.5C128.96 33.5 132.72 30.45 133.67 25C135.63 13.7 126.18 7.09 130.81 0C134.34 -5.41 140.4 0 150 0C162.5 0 162.5 0 175 0C187.5 0 187.5 0 200 0C212.5 0 212.5 0 225 0C231.13 0 237.25 -2.73 237.25 0C237.25 4.07 230.41 6.28 225 13.59C221.16 18.78 218.75 19.58 218.75 25C218.75 29.14 220.76 32.72 225 32.72C235.3 32.72 236.64 29.26 247.83 25C249.14 24.5 248.66 23.21 250 23.21C256 23.21 256.23 24.33 262.5 25C268.73 25.66 268.9 25.86 275 25.86C275.61 25.86 275.91 25.56 275.91 25C275.91 23.35 275.61 23.17 275 21.43C271.21 10.67 267.11 7.96 267.11 0C267.11 -2.75 271.06 0 275 0C280 0 280.24 -1.21 285 0C292.74 1.96 292.81 6.34 300 6.34C305 6.34 304.13 1.33 309.38 0C316.63 -1.84 317.19 0 325 0C337.5 0 337.5 0 350 0C362.5 0 362.5 0 375 0C375 0 375 0 375 0C387.5 10.32 388.98 9.63 400 20.65C401.48 22.13 400 22.83 400 25C400 37.5 400 37.5 400 50C400 62.5 400 62.5 400 75C400 87.5 406.25 93.75 400 100C393.75 106.25 387.5 100 375 100C362.5 100 362.5 100 350 100C340.86 100 339.91 102.25 331.71 100C327.41 98.82 328.81 93.13 325 93.13C319.61 93.13 319.61 98.27 313.3 100C307.11 101.7 306.65 100 300 100C287.5 100 287.5 100 275 100C262.5 100 262.5 100 250 100C240 100 230 103.72 230 100C230 95.08 239.84 91.16 250 82.72C254.88 78.66 260.08 79.39 260.08 75C260.08 69.64 256.51 63.89 250 63.21C238.97 62.07 235.71 74.46 225 71.36C212.91 67.86 214.92 60.43 204.39 50C202.42 48.04 202.35 46.58 200 46.58C196.87 46.58 194.51 46.77 193.42 50C189.72 60.98 189.66 62.64 190.43 75C191.22 87.64 200.74 93.2 196.54 100C193.02 105.7 185.77 100 175 100C165.41 100 164.67 101.9 155.82 100C152.17 99.21 153.61 94.62 150 94.62C139.52 94.62 138.85 97.59 127.63 100C126.35 100.28 126.31 100 125 100C123.69 100 123.19 100.98 122.37 100C112.67 88.48 113.7 86.89 103.95 75C102.52 73.26 101.82 72.73 100 72.73C98.74 72.73 98.95 73.92 97.79 75C86.45 85.53 86.65 85.79 75 95.95C72.31 98.29 72.52 99.45 69.12 100C60.02 101.47 59.56 100 50 100C38.66 100 37.96 101.37 27.33 100C25.46 99.76 26.09 96.77 25 96.77C23.97 96.77 24.83 99.77 23.08 100C12.33 101.39 6.54 105 0 100C-5 96.18 -3.07 89.56 0 82.35C2.25 77.06 10.64 78.95 10.64 75C10.64 70.73 2.49 71.76 0 65.91C-2.83 59.26 0 57.95 0 50C0 41.75 -4.58 38.58 0 33.49C6.67 26.08 22.5 30.21 22.5 25' stroke='rgba(30%2c 31%2c 41%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M50 18C38.56 18 27.17 19.44 27.17 25C27.17 31.69 38.49 42.5 50 42.5C61.84 42.5 73.86 31.66 73.86 25C73.86 19.41 61.91 18 50 18' stroke='rgba(30%2c 31%2c 41%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M175 10.61C171.04 10.61 165.69 18.2 165.69 25C165.69 30.45 170.91 35.11 175 35.11C178.46 35.11 180.79 30.25 180.79 25C180.79 18 178.59 10.61 175 10.61' stroke='rgba(30%2c 31%2c 41%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M350 12.5C348.39 12.5 349.28 19.12 346.67 25C340.95 37.87 333.65 37.37 333.33 50C333.02 62.37 338.64 63.03 345.42 75C346.98 77.75 347 78.76 350 79.45C361.79 82.16 363.68 83.44 375 81.79C378.94 81.21 380.52 78.77 380.52 75C380.52 69.12 379.73 67.02 375 62.5C366.64 54.52 359.73 59.2 354.35 50C348.77 40.45 354.52 37.38 353.08 25C352.34 18.63 351.6 12.5 350 12.5' stroke='rgba(30%2c 31%2c 41%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M300 42.67C295.55 42.67 293.22 45.4 292.95 50C292.28 61.56 295 62.73 298.13 75C298.53 76.57 299.19 77.68 300 77.68C300.74 77.68 300.29 76.13 301.23 75C311.75 62.29 323.28 59.36 322.92 50C322.66 43.19 310.53 42.67 300 42.67' stroke='rgba(30%2c 31%2c 41%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M25 13.73C14.46 11.41 6.08 3.79 6.08 0C6.08 -3.07 15.54 0 25 0C37.5 0 37.5 0 50 0C61.69 0 73.39 -2.32 73.39 0C73.39 2.51 62.09 6.24 50 9.67C37.9 13.1 36.42 16.24 25 13.73' stroke='rgba(30%2c 31%2c 41%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M86.54 25C92.66 19.52 93.62 15.41 100 15.41C105.35 15.41 105.63 19.66 110 25C118.13 34.95 115.8 37.88 125 46C129.96 50.38 131.7 47.88 138.33 50C144.2 51.87 144.06 53.98 150 53.98C158.65 53.98 158.74 51.95 167.5 50C171.24 49.16 171.44 48.4 175 48.4C176.18 48.4 176.87 48.77 176.97 50C177.94 62.07 174.73 62.95 177.13 75C179.71 87.95 187.66 91.34 186.92 100C186.59 103.84 180.96 100 175 100C169.69 100 168.78 102.34 164.38 100C156.28 95.69 158.52 90.86 150 86.71C138.83 81.27 136.48 85.37 125 80.83C121.68 79.52 123.39 77.11 120.39 75C110.89 68.32 109.37 63.26 100 63.26C93.48 63.26 94.47 69.31 88.6 75C81.97 81.43 82.24 81.8 75 87.5C66.37 94.3 66.39 95.23 56.86 100C53.89 101.48 53.43 100 50 100C45.93 100 44.61 102.57 41.86 100C32.11 90.88 33.4 88.33 25 76.61C24.44 75.83 23.94 75.83 23.94 75C23.94 74.06 24.04 73.59 25 73.08C37.07 66.64 38.59 68.58 50 61.11C56.22 57.04 54.74 55.15 60.26 50C67.24 43.48 68.08 44.35 75 37.77C81.22 31.85 80.16 30.7 86.54 25' stroke='rgba(30%2c 31%2c 41%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M146.43 25C142.44 12.44 136.85 8.61 138.08 0C138.64 -3.89 144.04 0 150 0C159.86 0 169.03 -4.97 169.71 0C170.74 7.53 160.3 11.93 153.43 25C150.45 30.68 151.75 37.5 150 37.5C148.25 37.5 148.4 31.19 146.43 25' stroke='rgba(30%2c 31%2c 41%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M188.41 25C184.28 13.78 182.28 8.03 186 0C188.07 -4.47 193 0 200 0C212.5 0 222.36 -5.84 225 0C228.01 6.66 219.1 13.16 211.31 25C206.6 32.16 205.69 38.01 200 38.01C194.24 38.01 191.28 32.78 188.41 25' stroke='rgba(30%2c 31%2c 41%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M287.27 25C287.27 20.15 293.44 19.81 300 15.14C311.01 7.31 311 6.91 322.4 0C323.5 -0.66 323.7 0 325 0C327.84 0 329.66 -2.27 330.68 0C335.28 10.23 337.93 13.58 336.25 25C335.09 32.83 332.42 36.59 325 38.5C314.3 41.25 311.63 38.49 300 34.33C292.76 31.74 287.27 29.75 287.27 25' stroke='rgba(30%2c 31%2c 41%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M362.69 25C362.69 17.39 368.49 10.96 375 10.96C382.19 10.96 390.09 17.22 390.09 25C390.09 34.77 382.06 46.05 375 46.05C368.36 46.05 362.69 34.94 362.69 25' stroke='rgba(30%2c 31%2c 41%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 45.28C2.39 45.28 7.35 47.67 7.35 50C7.35 52.31 2.41 54.55 0 54.55C-1.27 54.55 0 52.28 0 50C0 47.64 -1.29 45.28 0 45.28' stroke='rgba(30%2c 31%2c 41%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M215.35 50C215.35 45.7 219.28 42.39 225 41.91C236.6 40.95 237.87 48.4 250 47.12C262.87 45.76 264.18 35.75 275 36.64C281.65 37.19 283.45 42.35 284.94 50C287.2 61.53 279.1 63.71 282.5 75C286.63 88.71 302.06 93.13 300 100C298.31 105.63 287.5 100 275 100C262.5 100 262.5 100 250 100C244.47 100 238.93 102.06 238.93 100C238.93 97.28 244.29 95 250 90.43C259.91 82.5 270.16 83.78 270.16 75C270.16 64.27 262.19 55.47 250 51.42C239.61 47.97 236.35 60.47 225 60C219.03 59.76 215.35 54.75 215.35 50' stroke='rgba(30%2c 31%2c 41%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M311.48 75C311.48 68.23 318.52 60.27 325 60.27C331.09 60.27 336.62 68.15 336.62 75C336.62 80.67 331 85.31 325 85.31C318.43 85.31 311.48 80.75 311.48 75' stroke='rgba(30%2c 31%2c 41%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M387.79 75C394.04 67.04 396.6 58.85 400 58.85C402.71 58.85 400 66.93 400 75C400 87.5 406.25 93.75 400 100C393.75 106.25 387.5 100 375 100C362.5 100 362.5 100 350 100C344.66 100 339.33 102.39 339.33 100C339.33 96.4 343.05 89.82 350 88.01C360.89 85.17 364.54 94.31 375 90.71C383.43 87.81 381.54 82.97 387.79 75' stroke='rgba(30%2c 31%2c 41%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 91.54C3.44 91.54 11.06 97.64 11.06 100C11.06 101.87 3.13 102.4 0 100C-2.4 98.17 -2.09 91.54 0 91.54' stroke='rgba(30%2c 31%2c 41%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M25 1.47C23.77 1.41 22.97 0.41 22.97 0C22.97 -0.33 23.98 0 25 0C37.5 0 37.5 0 50 0C51.61 0 53.23 -0.32 53.23 0C53.23 0.35 51.73 1.24 50 1.33C37.62 1.97 37.28 2.07 25 1.47' stroke='rgba(30%2c 31%2c 41%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M98.56 25C99.11 24.31 99.32 23.97 100 23.97C100.57 23.97 100.82 24.3 101.07 25C105.45 37.32 109.65 39.57 109.26 50C109.11 53.97 104.83 53.79 100 53.79C89.78 53.79 79.46 55.77 79.17 50C78.74 41.38 88.7 37.33 98.56 25' stroke='rgba(30%2c 31%2c 41%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M150 11.76C147.08 11.76 145.35 4.3 145.35 0C145.35 -1.58 147.68 0 150 0C153.85 0 157.69 -2.08 157.69 0C157.69 3.8 153.25 11.76 150 11.76' stroke='rgba(30%2c 31%2c 41%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M196.04 25C196.04 18.68 198.04 11.46 200 11.46C201.96 11.46 203.87 18.66 203.87 25C203.87 27.66 201.95 29.45 200 29.45C198.03 29.45 196.04 27.67 196.04 25' stroke='rgba(30%2c 31%2c 41%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M298.64 25C298.64 24.48 299.15 24.01 300 23.94C312.33 22.88 313.22 22.25 325 22.73C326.14 22.78 325.83 23.94 325.83 25C325.83 25.57 325.64 25.98 325 26C312.72 26.48 312.35 26.47 300 26C299.17 25.97 298.64 25.51 298.64 25' stroke='rgba(30%2c 31%2c 41%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M372.31 25C372.31 23.34 373.58 21.93 375 21.93C376.57 21.93 378.3 23.3 378.3 25C378.3 27.14 376.54 29.61 375 29.61C373.55 29.61 372.31 27.18 372.31 25' stroke='rgba(30%2c 31%2c 41%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M269.64 50C269.64 47.99 272.64 47.41 275 47.41C276.28 47.41 276.92 48.51 276.92 50C276.92 53.75 276.67 57.89 275 57.89C273.03 57.89 269.64 53.23 269.64 50' stroke='rgba(30%2c 31%2c 41%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M57.35 75C57.35 67.29 68.83 53.57 75 53.57C79.86 53.57 79.41 65 79.41 75C79.41 77.74 77.74 79.05 75 79.05C66.71 79.05 57.35 80.03 57.35 75' stroke='rgba(30%2c 31%2c 41%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M140 75C140 72.18 145.08 68.18 150 68.18C154.62 68.18 159.09 72.16 159.09 75C159.09 77.47 154.58 78.8 150 78.8C145.03 78.8 140 77.49 140 75' stroke='rgba(30%2c 31%2c 41%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M321.72 75C321.72 73.36 323.43 71.43 325 71.43C326.48 71.43 327.82 73.34 327.82 75C327.82 76.38 326.46 77.5 325 77.5C323.41 77.5 321.72 76.4 321.72 75' stroke='rgba(30%2c 31%2c 41%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M395.06 75C395.06 71.46 398.63 68.46 400 68.46C401.1 68.46 400 71.73 400 75C400 80.45 401.18 85.9 400 85.9C398.71 85.9 395.06 80.18 395.06 75' stroke='rgba(30%2c 31%2c 41%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M172.95 100C172.95 97.93 173.92 94.44 175 94.44C176.1 94.44 177.31 97.99 177.31 100C177.31 100.77 176.15 100 175 100C173.98 100 172.95 100.71 172.95 100' stroke='rgba(30%2c 31%2c 41%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M247.86 100C247.86 99.47 248.75 98.15 250 98.15C252.6 98.15 255.56 99.53 255.56 100C255.56 100.45 252.78 100 250 100C248.93 100 247.86 100.4 247.86 100' stroke='rgba(30%2c 31%2c 41%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M346.95 100C346.95 98.97 347.84 96.61 350 96.58C361.87 96.43 362.52 98 375 99.64C375.57 99.71 376.09 99.91 376.09 100C376.09 100.09 375.54 100 375 100C362.5 100 362.5 100 350 100C348.48 100 346.95 100.68 346.95 100' stroke='rgba(30%2c 31%2c 41%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1030'%3e%3crect width='400' height='100' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.fact-title{
    /* background-color: chartreuse; */
    height: 50%;


    



}

.fact-info{
    /* background-color: coral; */
}