body{
    /* blank slate */
    padding: 0;
    margin: 0;


    font-family: 'Silkscreen', cursive;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

    color: #fff;
}

/* making scrollbar   */
body::-webkit-scrollbar {
    width: 0px;
}

video{
    height: 100%;
    width: 100%;
    z-index: -1;
}

.main{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
}
nav{
    /* background-color: brown; */

    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo-section-container{
    /* background-color: aqua; */

    width: 40%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* .logo-section-container > img{
    /* background-color: yellow; */

    /* height: 65%; */
    /* width: auto; */
    /* padding: 0.5rem; */
/* } */ 

.logo{
    font-size: 2rem !important;
    animation: 1.8s rotate;
   

}

@keyframes rotate {
    from{
        transform: rotate(0deg) scale(.5); 
       
    }
    to{
        transform: rotate(360deg) scale(1); 
        
    }
}

.logo-section-container > a{
    /* background-color: bisque; */

    padding: 1rem;
    color: inherit;
    text-decoration: none;
}
.nav-items-container{
    /* background-color: gold; */

    width: 22%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items-container > a{
    color: inherit;
    text-decoration: none;
}

.content{
    /* background-color: greenyellow; */
    
    height: 75vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.content > h1{
    font-size: 6rem;
    animation: 3s fade-in;
}

@keyframes fade-in {
    from{opacity: 0; transform: scale(.9 );}
    to{opacity: 1; transform: scale(1);}
}

.space-facts{
    /* background-color: blueviolet; */

    width: 90%;
    height: 10vh;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    /* background-color: #fff; */

}

.fact{
    /* background-color: cadetblue; */

    height: 100%;
    width: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 1rem;
    border-radius: .3rem;

    color: black;
    background-color: #fff;
    padding: 1rem;

    
}

.fact-title{
    /* background-color: chartreuse; */
    height: 50%;


    



}

.fact-info{
    /* background-color: coral; */
}