body{
    color: black;

    /* background-image: url(https://www.nasa.gov/sites/default/files/styles/image_card_4x3_ratio/public/thumbnails/image/iss066e161043.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    
}

.carousel{
    /* background-color: green; */

    height: 90vh;
    width: 100%;
    /* background-image: url(https://www.nasa.gov/sites/default/files/styles/image_card_4x3_ratio/public/thumbnails/image/iss066e161043.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    
}
.carousel-inner{
    /* background-color: cadetblue; */

    height: 90vh;
    width: 100%;
   
}

.carousel-control-prev, .carousel-control-next{
    /* background-color: gray; */

    height: 90vh;
    width: 10%;
    
}


.carousel-control-icon{
    font-size: 3rem;
}

.planet-container{
    /* background-color: gold; */

    height: 90vh;
    width: 100%;

    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    /* margin: auto !important; */
}

.planet-container-inner{
    /* background-color: chartreuse; */

    height: 75%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

.planet-facts{
    /* background-color: red; */

    height: 25%;
    width: 100%;
}
.planet-text{
    /* background-color: aliceblue; */

    height: 90%;
    width: 45%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.planet-img{
    /* background-color: brown; */

    height: 90%;
    width: 35%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.planet-img > img{
    /* background-color: cornflowerblue; */
    
    height: 85%;
    width: auto;
    
    animation: 2s fade-in;
    transform: rotate3d(180deg);
}

.planet-title{
    /* background-color: orange; */

    height: 40%;
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.planet-title > h1{
    font-size: 5rem;
}

.planet-desc{
    /* background-color: pink; */

    height: 40%;
    width: 100%;
    
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.planet-desc > p{
    font-size: 1.2rem;
}