body{
    background-color: black;
    color: white;

    /* background-image: url(https://www.nasa.gov/sites/default/files/styles/image_card_4x3_ratio/public/thumbnails/image/iss066e161043.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

.carousel{
    /* background-color: green; */

    height: 90vh;
    width: 100%;
    /* background-image: url(https://www.nasa.gov/sites/default/files/styles/image_card_4x3_ratio/public/thumbnails/image/iss066e161043.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    
}
.carousel-inner{
    /* background-color: cadetblue; */
    background-color: transparent;

    height: 90vh;
    width: 100%;
   
}

.carousel-control-prev, .carousel-control-next{
    /* background-color: gray; */
    
    
    margin-top: 10vh;
    height: 90vh;
    width: 10%;
    
}

.carousel-control-icon{
    color: white;
}


.carousel-control-icon{
    font-size: 3rem;
}

.planet-container{
    /* background-color: gold; */

    /* background-color: transparent; */
    height: 90vh;
    width: 100%;

    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    /* margin: auto !important; */
}

.planet-container-inner{
    /* background-color: chartreuse; */

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    /* flex-direction: column; */
}

.planet-facts{
    /* background-color: red; */

    height: 25%;
    width: 100%;
}
.planet-text{
    /* background-color: aliceblue; */

    height: 90%;
    width: 45%;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.planet-img{
    /* background-color: brown; */

    height: 90%;
    width: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.planet-img > img{
    /* background-color: cornflowerblue; */
    
    height: 85%;
    width: auto;
    
    animation: 2s fade-in;
    transform: rotate3d(180deg);
}

.planet-title{
    /* background-color: orange; */

    height: 20%;
    width: 50%;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.planet-title > h1{
    font-size: 5rem;
    color: #375673;
    color: white;
    
}

.planet-desc{
    /* background-color: pink;  */

    height: 80%;
    width: 100%;
    
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.planet-desc > p{
    font-size: 1.2rem;
}


.footer-planet{
    margin-top: 120vh;
    
}